<div class="row">
    <div class="col-xs-6">
        <div class="label-text">Step 3</div>
        <div class="clearfix"></div>
        <h3 class="h3 step-name">Setup landing pages</h3>
        <span class="icon-info">i</span>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-6 text-right">
        <div class="progress-container">
            <div class="progress-status">
                <div class="progress-percent green" style="width: 75%"></div>
            </div>
            <span class="gray-blue-text pull-left progress-description">Great progress, almost done</span>
            <span class="gray-blue-text progress-description">75%</span>
        </div>
    </div>
</div>
<div class="separator"></div>
