@import "../../../assets/scss/_bootstrap-custom.scss";

:host {
  .step-name {
    float: left;
  }
  .icon-info {
    display: inline-block;
    line-height: em(18px);
    font-size: em(12px);
    font-style: italic;
    margin-top: 5px;
    margin-left: 15px;
    color: $light-blue;
    border: 2px solid $light-blue;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    float: left;
    cursor: help;
  }
  .progress-container {
    display: inline-block;
    width: 100%;
    max-width: 250px;
  }
  .progress-status {
    background-color: $lighten-gray;
    height: 5px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
    .progress-percent {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 3px;
      &.green {
        background-color: $light-green;
      }
    }
  }
  .progress-description {
    font-size: em(12px);
    opacity: 0.8;
  }
}
