<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="label-text">Step 3</div>
        <div class="clearfix"></div>
        <h3 class="h3 step-name">Setup landing pages</h3>
        <span class="icon-info">i</span>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="progress-container">
            <div class="progress-status">
                <div class="progress-percent green" style="width: 75%"></div>
            </div>
            <span class="gray-blue-text pull-left progress-description">Great progress, almost done</span>
            <span class="gray-blue-text progress-description">75%</span>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="row">
  <form name="landingPages" [formGroup]="form">
    <div class="form-group">
      <div class="col-xs-12">
        <label class="label-default" for="finalUrl">
          Final URL
        </label>
        <label class="sub-label" for="finalUrl">
          Add the final URL or final destination URL. Required for exchange clearing.
        </label>
      </div>
      <div class="col-xs-5">
        <input class="form-control form" id="finalUrl" formControlName="final">
        <app-control-messages class="control-messages" [control]="form.get('final')"></app-control-messages>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label class="label-default">
          Create landing page
        </label>
        <label class="sub-label">
          Add your landing page URLs. Use the allocation field to split traffic between each page.
        </label>
      </div>
      <div formArrayName="pages">
        <div *ngFor="let page of form.get('pages').controls; let index = index;" class="mb-15 remove-last">
          <div [formGroupName]="index">
            <div class="col-xs-5">
              <input type="text"
                     class="form-control form"
                     title="Page name"
                     placeholder="Page name"
                     formControlName="name">
              <app-control-messages class="control-messages" [control]="page.get('name')"></app-control-messages>
            </div>
            <div class="col-xs-5">
              <input type="text"
                     class="form-control form"
                     title="Add page URL"
                     placeholder="Add page URL"
                     formControlName="page">
              <app-control-messages class="control-messages" [control]="page.get('page')"></app-control-messages>
            </div>
            <div class="col-xs-2">
              <div class="row">
                <div class="col-xs-10">
                  <input class="form-control form" title="Set %" placeholder="Set %" formControlName="percent">
                  <app-control-messages class="control-messages"
                                        [messages]="percentMessages"
                                        [control]="page.get('percent')"></app-control-messages>
                </div>
                <div class="col-xs-2">
                  <i class="lnr lnr-cross delete-form-control"
                     (click)="removePage(index)"
                     *ngIf="form.get('pages').controls.length > 1"></i>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12">
      <a class="btn btn-default indent pull-left" (click)="addPage()">Add new landing page</a>
      <a class="btn btn-default pull-left">Show tracking tokens</a>
    </div>
  </form>
</div>
<div class="main-footer">
  <div class="separator small-margin"></div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary pull-right" (click)="next()">Next</button>
      <a class="btn btn-default indent pull-right">Back</a>
    </div>
  </div>
</div>

