@import "../../../assets/scss/_bootstrap-custom.scss";

$sub-header-height: 60px;

:host {
  > .container-fluid {
    background-color: $white;
    padding: 0 $large-padding;
    height: $sub-header-height;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
  }
  .nav {
    border: none;
    > li {
      display: flex;
      align-items: center;
      height: $sub-header-height;
      margin-left: 15px;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom: 2px solid $light-blue;
        > a {
          color: $text-color;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      > a {
        font-size: em(13.5px);
        line-height: 1;
        font-weight: bold;
        padding: 15px 10px;
        border: none;
        border-radius: 0;
        background: transparent;
        color: $gray-blue;
      }
    }
  }
}
