@import "../../../assets/scss/_bootstrap-custom.scss";

:host {
  position: relative;
  display: block;
  width: 100%;
  &.add-margin {
    height: 10px;
  }
  > div {
    position: absolute;
    padding: 3px 0;
    font-size: 13px;
    color: $red;
    opacity: 0.8;
    white-space: nowrap;
  }
}
