@import "./assets/scss/_bootstrap-custom.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1.h1, h2.h2, h3.h3{
  margin: 0;
  letter-spacing: 0.03em;
}

// Text
.label-text {
  display: inline-block;
  font-size: em(11px);
  color: $gray-blue;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.gray-blue-text {
  color: $gray-blue;
}

.btn {
  padding: 12px 20px;
  min-width: 130px;
  &.indent {
    margin-right: 10px;
  }
  &:focus, &:active {
    box-shadow: none;
  }
}

.separator {
  margin: 35px -50px;
  height: 1px;
  background-color: $lighten-gray;
  &.small-margin {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.mb-15 {
  margin-bottom: 15px;
  &.remove-last:last-child {
    margin-bottom: 0;
  }
}

@import "assets/scss/forms";
